@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merienda:wght@300..900&family=Outfit:wght@600&family=Schoolbell&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force light theme globally */
html {
  color-scheme: only light; /* Your fixed background */
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Apply again on body just in case */
  color: black;
  font-family: "Merienda", cursive;
}
